#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  width: 100%;
  height: 100vh;
}

#contactCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
  align-items: center;
  background-color: aqua;
  font-weight: bolder;
}
